@page "/lookproduct"
@using System.IO
@using TireCompany.Data
@inject NavigationManager NavigationManager
@using MongoDB.Bson
@using MongoDB.Bson.Serialization.Attributes
@inject UserService UserService
@inject ProductService ProductService
    <head>
        <link href="css/lookproduct.css" rel="stylesheet" />
    </head>
    <Header></Header>
    <div class="product_card">
        <h1>@product.Title</h1>
        <div class="img_and_another">
            <div class="img_and_buttons">
                  <img src="@Path.Combine( @product.ImagePath.Substring(7))"/>
                <div class="actions">
                    <a @onclick="Edit">
                        <p>Редактировать</p>
                        <img class="icon" src="images/edit.png" />
                    </a>
                    <a  @onclick="Delete">
                        <p>Удалить</p>
                        <img class="icon" src="images/remove.png" />
                    </a>
                </div>
               
            </div>
            <div class="another">
                <h1>@product.Price</h1>
                <p>@product.Description</p>
                <h4>Информация:</h4>
                <ul class="info">
                    <li>
                        Артикул: @product.Article
                    </li>
                    <li>
                        Тип: @Database.FindProductTypeById(product.Type).Title
                    </li>
                    <li>
                        Количество людей для производства: @product.PeopleCount
                    </li>
                    <li>
                        Номер цеха: @product.Workshop
                    </li>

                </ul>
                <h4>Материалы:</h4>
                <ul>

                    @foreach (var item in product.Materials)
                    {
                        <li>@Database.FindMaterialById(item.Material).Title @item.Count ед.</li>
                    }
                </ul>
            </div>
        </div>
       
    </div>

@code{
    Product product;
    protected override async Task OnInitializedAsync()
    {
        product = Database.FindProductById(ProductService.ProductId);
    }
    public void Delete()
    {
        Database.DeleteProduct(ProductService.ProductId);
        ProductService.ProductId = ObjectId.Empty;
        NavigationManager.NavigateTo("/mainpage");
    }
     public void Edit()
    {
       
        NavigationManager.NavigateTo("/editproduct");
    }

}
